.box {
  /* background-color: rgb(9, 255, 0); */
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.cell {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.names {
  display: flex;
  justify-content: start;
  /* justify-content: space-around; */
}
.name {
  margin-left: 10%;
  margin-right: 12%;
}
.btn {
  background: #9283bd;
  width: fit-content;
  color: #fff;
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0.5rem 0 0.5rem 0rem;
  font-family: Montserrat;
}
.btn:hover {
  background: #59b4b4;
}