.container {
  border: solid 0.1rem #9283bd;
  padding: .5rem;
  border-radius: .2rem;
  margin: 1rem 0 1rem 0
}
.row {
  display: flex;
  justify-content: space-around;
  background-color: violet;
}
.name {
  cursor: pointer;
}
.box {
  background-color: aqua;
  width: 70%;
}
.fondo {
  background: green;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
}
.names {
  background: blue;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.blur {
  color: transparent;/* Hace que el texto sea transparente */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.752);
}
.btnCreate {
  background: #9283bd;
  height: 1.6rem;
  width: 12rem;
  max-width: 28rem;
  color: #fff;
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0.5rem 0 1rem 0;
}
.btnCreate:hover {
  background: #59b4b4;
}
.btnEmails {
  background: #9283bd;
  max-width: 28rem;
  color: #fff;
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: 0.075rem;
  cursor: pointer;
  transition: 0.3s;
  margin: .5rem 0 1rem 0;
}
.btnEmails:hover {
  background: #59b4b4;
}
.divLoading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loading {
  width: 7rem;
  height: 7rem;
}