.box{
display: flex;
flex-direction: column;
height: 100vh;
}
.cell{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.name{
    border: 1px solid rgb(135, 236, 135);
    background-color: rgba(145, 131, 245, 0.581);
    width: 100%;
    display: flex;
    justify-content: center;
}