.container {
    /* background: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.container>div {
    /* background: red; */
    display: flex;
    flex-direction: column;
    /* padding: 3px; */
    margin-top: 10px;
    width: 100%;
}
.container > div > label {
    /* background: greenyellow; */
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-bottom: 5px;

}
.container>div>input {
    /* background: goldenrod; */
    border-radius: 1rem;
    padding: 0 10px 0 10px;
    letter-spacing: 1px;
    border: 2px solid #535AAC;
}
.btnCreate {
    background: #2f3367;
    height: auto;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: .85rem;
    color: #fff;
    letter-spacing: .1rem;
    transition: .3s;
    width: auto;
    padding: 4px 16px 4px 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 14.5rem;
}

.btnCreate:hover {
    background: #535AAC;
}
